{% extends "admin.html" %}
{% block content %}
    {% include 'admin_menu.html' %}
    <div class="container mt-4">
        <h2>{{ title }}</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.status.label }}
                {{ form.status(class="form-control") }}
                {% for error in form.status.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">{{ form.submit.label }}</button>
        </form>
    </div>
{% endblock %} 