<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.content.label }}
        {{ form.content(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.priority.label }}
        {{ form.priority(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.category.label }}
        {{ form.category(class="form-control", id="category-select") }}
    </div>

    <div class="form-group" id="other-category-div" style="display: none;">
        {{ form.other_category.label }}
        {{ form.other_category(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var categorySelect = document.getElementById("category-select");
    var otherDiv = document.getElementById("other-category-div");
    function toggleOther() {
        if (categorySelect.value === "Other") {
            otherDiv.style.display = "block";
        } else {
            otherDiv.style.display = "none";
        }
    }
    categorySelect.addEventListener("change", toggleOther);
    toggleOther();
});
</script>
